.input__wrapper {
    width: 90%;
    position: relative;
    margin: 2rem auto;

    display: flex;
    align-items: center;
}

.input {
    border: none;
    width: 100%;
    padding: 0.5rem 1rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

.input:focus {
    outline: none;
}

.input-icon {
    position: absolute;
    right: 1rem;
    color: #505050;
    font-size: 2rem;
}
